[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
py-dateutil = "*"
click = "*"
pytest-runner = "*"
pytest = "*"
pylint = "*"
yapf = "*"
importmagic = "*"
func-timeout = "*"

[dev-packages]

[requires]
python_version = "3.7"
