[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
func-timeout = "*"

[dev-packages]
pytest-runner = "*"
pytest = "*"
pytest-console-scripts = "*"
pylint = "*"
flake8 = "*"
pytest-flake8 = "*"
pytest-pylint = "*"
yapf = "*"
importmagic = "*"
flaky = "*"

[requires]
python_version = "3.6"

[dev-packages.e1839a8]
path = "."
editable = true
